@model Post
@inject IViewLocalizer Localizer

@addTagHelper SocialNetwork.TagHelpers.LikeTagHelper, SocialNetwork

<div class="post full-width">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <img class="post-owner-photo" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Owner.Avatar))" />

            </div>
            <div class="col-md-8">
                <div class="post-owner">
                    @Html.ActionLink(@Model.Owner.ToString(), "MainPage", "User", new { userId = @Model.Owner.Id })
                </div>
                <div class="post-date">
                    @Model.Date.ToString()
                </div>
            </div>
            @if (Model.Owner == (User)ViewBag.LoggedUser)
            {
                <div class="col-md-2">
                    <button postId="@Model.Id" class="glyphicon glyphicon-remove delete-post-button"></button>
                </div>
            }
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="post-text">
                    @Model.Text
                </div>
                @if (Model.Photos.Any())
                {
                    <img class="post-image" src="@Model.Photos.First().Image" />
                }
                <div class="post-likes">
                    <like class="btn post-like-button not-liked" postId="@Model.Id"><span class="glyphicon glyphicon-heart" postId="@Model.Id"></span> @Model.Likes.Count</like>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var commentsId = "comments" + @Model.Id;
    <div class="commentsArea" id="@commentsId">
        @{await Html.RenderPartialAsync("~/Views/Comment/CommentsList.cshtml", Model.Comments);}
    </div>
}

<div class="container-fluid comment-sending-area">
    <div class="row">
        <div class="col-md-11">
            <textarea class="form-control comment-sending-form" commentForPost="@Model.Id" placeholder="@Localizer["comment"]"></textarea>
        </div>
        <div class="col-md-1">
            <button postId="@Model.Id" val="++++" class="glyphicon glyphicon-plus add-comment-button"></button>
        </div>
    </div>
</div>

