@model User
@inject IViewLocalizer Localizer

@{
    User ownerUser = (User)ViewBag.LoggedUser;
    List<string> ownerRoles = (List<string>)ViewBag.LoggedUserRoles;
}

<div class="container-fluid">
    <div class="main-section-data">
        <div class="row">
            <div class="col-md-4 col-sm-4 pd-left-none no-pd main-column">
                <div class="user-data full-width">
                    <div class="user-profile">
                        <div class="username-dt">
                            <div class="usr-pic">
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
                            </div>
                        </div>
                        <div class="user-specs">
                            <h3>@Model</h3>
                        </div>

                        @if (ownerRoles.Contains("moderator"))
                        {
                            <div class="requests-info">
                                <button type="submit" class="btn btn-primary button-main-page"
                                        onclick="@("window.location.href='" +
                                        @Url.Action("Unblock", "User",
                                        new { userId = Model.Id }) + "'");">
                                    @Localizer["unblock"]
                                </button>
                            </div>
                        }

                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 pd-left-none no-pd main-column">
                <h3>@Localizer["block_info"]</h3>
            </div>
        </div>
    </div>
</div>