@model List<User>

<div class="container-fluid">
    <div class="friends-title">
        <h3>Друзья</h3>
    </div>
    <div class="friends-list">
        <div class="row">
            @foreach (var friend in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <div class="friend-info full-width">
                        <div class="friend-up-info">
                            @*<img src="@Url.Content(@friend.MainPhotoPath)" />*@
                            <img src="images/no_photo.png" alt=""/>
                        </div>
                        @Html.ActionLink(@friend.ToString(), "MainPage", new { userId = @friend.UserId })
                    </div>
                </div>
            }
        </div>
    </div>
</div>