@model FriendsRequestsViewModel
@inject IViewLocalizer Localizer


<div class="container-fluid">
    @if (Model.Requests != null && Model.Requests.Count > 0)
    {
        <div class="friends-title">
            <h3>@Localizer["requests"]</h3>
        </div>
        <div class="friends-list">
            <div class="row">
                @foreach (var request in Model.Requests)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="friend-info full-width">
                            <div class="friend-up-info">
                                @*  <img src="@Url.Content(@request.MainPhotoPath)" />*@
                                <img src="~/images/no_photo.png" />
                            </div>
                            @Html.ActionLink(@request.ToString(), "MainPage", new { userId = @request.Id })
                            <div class="request-buttons">
                                <button class="btn btn-success" onclick="@("window.location.href='" +
                                    @Url.Action("ConfirmRequestFromFriendsView", "Friendship", new { userId = request.Id }) + "'");">
                                    @Localizer["add"]
                                </button>
                                <button class="btn btn-danger" onclick="@("window.location.href='" +
                                    @Url.Action("CancelRequestFromFriendsView", "Friendship", new { userId = request.Id }) + "'");">
                                    @Localizer["remove"]
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    @if (Model.Friends.Any())
    {
        <div class="friends-title">
            <h3>@Localizer["friends"]</h3>
        </div>


        <div class="friends-list">
            <div class="row">
                @foreach (var friend in Model.Friends)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="friend-info full-width">
                            <div class="friend-up-info">
                                @* <img src="@Url.Content(@friend.MainPhotoPath)" />*@
                                <img src="~/images/no_photo.png" />
                            </div>
                            @Html.ActionLink(@friend.ToString(), "MainPage", new { userId = @friend.Id })
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    @if (Model.Following.Any())
    {
        <div class="friends-title">
            <h3>@Localizer["following"]</h3>
        </div>
        <div class="friends-list">
            <div class="row">
                @foreach (var following in Model.Following)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="friend-info full-width">
                            <div class="friend-up-info">
                                @*     <img src="@Url.Content(@following.MainPhotoPath)" />*@
                                <img src="~/images/no_photo.png" />
                            </div>
                            @Html.ActionLink(@following.ToString(), "MainPage", new { userId = @following.Id })
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    @if (Model.Followers.Any())
    {
        <div class="friends-title">
            <h3>@Localizer["followers"]</h3>
        </div>
        <div class="friends-list">
            <div class="row">
                @foreach (var follower in Model.Followers)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="friend-info full-width">
                            <div class="friend-up-info">
                                @* <img src="@Url.Content(@follower.MainPhotoPath)" />*@
                                <img src="~/images/no_photo.png" />
                            </div>
                            @Html.ActionLink(@follower.ToString(), "MainPage", new { userId = @follower.Id })
                        </div>
                    </div>
                }
            </div>
        </div>
    }

</div>