@model User
@{
    User ownerUser = (User)ViewBag.LoggedUser;
    List<string> roles = (List<string>)ViewBag.UserRoles;
    List<string> ownerRoles = (List<string>)ViewBag.LoggedUserRoles;
}

<div class="container-fluid">
    <div class="main-section-data">
        <div class="row">
            <div class="col-md-4 col-sm-4 pd-left-none no-pd main-column">
                <div class="user-data full-width">
                    <div class="user-profile">
                        <div class="username-dt">
                            <div class="usr-pic">
                                @*                         <img src="@Url.Content(@Model.MainPhotoPath)" alt="">*@
                                <img src="~/images/no_photo.png" />
                            </div>
                        </div>
                        <div class="user-specs">
                            <h3>@Model</h3>
                            @if (roles.Contains("admin"))
                            {
                                <p>Админ</p>
                            }
                            else if (roles.Contains("moderator"))
                            {
                                <p>Модератор</p>
                            }
                        </div>
                        @if (Model != ownerUser)
                        {
                            <button type="submit"
                                    userToId="@Model.Id" class="btn btn-primary button-main-page"
                                    onclick="@("window.location.href='" + @Url.Action("Index", "Message",
                            new { userWithId = @Model.Id }) + "'");">
                                Отправить сообщение
                            </button>
                            <div class="requests-info">
                                @if (ownerUser.Friends.Contains(Model))
                                {
                                    <p>У вас в друзьях</p>
                                    <button type="submit" class="btn btn-primary button-main-page"
                                            onclick="@("window.location.href='" +
                                        @Url.Action("Remove", "Friendship", new { userId = Model.Id }) + "'");">
                                        Удалить из друзей
                                    </button>
                                }
                                else if (ownerUser.Followers.Contains(Model))
                                {
                                    var text = Model.Gender == Gender.Male ? "Подписан на вас" : "Подписана на вас";
                                    <p>@text</p>

                                    <button type="submit" class="btn btn-primary button-main-page"
                                            onclick="@("window.location.href='" +
                                        @Url.Action("ConfirmRequest", "Friendship", new { userId = Model.Id }) + "'");">
                                        Добавить в друзья
                                    </button>
                                }
                                else if (ownerUser.Following.Contains(Model))
                                {
                                    <p>Заявка отправлена</p>
                                    <button type="submit" class="btn btn-primary button-main-page"
                                            onclick="@("window.location.href='" +
                                        @Url.Action("CancelRequest", "Friendship", new { userId = Model.Id }) + "'");">
                                        Отменить заявку
                                    </button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary button-main-page"
                                            onclick="@("window.location.href='" +
                                        @Url.Action("AddToFriends", "Friendship", new { userId = Model.Id }) + "'");">
                                        Добавить в друзья
                                    </button>
                                }
                            </div>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary button-main-page"
                                    onclick="@("window.location.href='" + @Url.Action("Update", "User") + "'");">
                                Редактировать страницу
                            </button>
                        }
                        @if ((ownerRoles.Contains("admin") && !roles.Contains("admin")) ||
                           (ownerRoles.Contains("moderator") && !roles.Contains("moderator")))
                        {
                            <div class="admin-area">
                                @if (ownerRoles.Contains("admin"))
                                {
                                    if (!roles.Contains("admin"))
                                    {
                                        <button type="submit" class="btn btn-primary button-main-page"
                                                onclick="@("window.location.href='" +
                                            @Url.Action("SetAdmin", "Roles",
                                            new { userId = Model.Id }) + "'");">
                                            Назначить админом
                                        </button>
                                    }

                                    if (!roles.Contains("moderator"))
                                    {
                                        <button type="submit" class="btn btn-primary button-main-page"
                                                onclick="@("window.location.href='" +
                                            @Url.Action("SetModerator", "Roles",
                                            new { userId = Model.Id }) + "'");">
                                            Назначить модератором
                                        </button>
                                    }
                                    else if (!roles.Contains("admin"))
                                    {
                                        <button type="submit" class="btn btn-danger button-main-page-danger"
                                                onclick="@("window.location.href='" +
                                            @Url.Action("RemoveModerator", "Roles",
                                            new { userId = Model.Id }) + "'");">
                                            Удалить права модератора
                                        </button>
                                    }
                                }

                                @if ((ownerRoles.Contains("moderator") && !roles.Contains("moderator")))
                                {
                                    <button type="submit" class="btn btn-danger button-main-page-danger"
                                            onclick="@("window.location.href='" +
                                        @Url.Action("Block", "User",
                                        new { userId = Model.Id }) + "'");">
                                        Заблокировать
                                    </button>
                                }
                            </div>
                        }
                    </div>
                </div>
                <div class="friends-main full-width">
                    <div class="friends-main-title">
                        <h3>Друзья <span>@Model.Friends.Count</span></h3>
                    </div>
                    <div class="friends-main-list">
                        @foreach (var friend in Model.Friends.Take(5))
                        {
                        <div class="friends-main-usd">
                            @*                <img src="@Url.Content(@friend.MainPhotoPath)" alt="">*@
                            <img src="~/images/no_photo.png" />
                            <div class="friends-text">
                                @Html.ActionLink(@friend.ToString(), "MainPage", new { userId = @friend.Id })
                            </div>
                        </div>
                        }
                    </div>
                    <div class="view-more">
                        @Html.ActionLink("Все друзья", "Friends", new { userId = @Model.Id })
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 pd-left-none no-pd main-column">
                @{await Html.RenderPartialAsync("Information", new UserInfoViewModel(Model));}

                @if (Model == ownerUser)
                {
                <div class="container-fluid">
                    <div class="post-area">
                        <div class="form-group">
                            <textarea class="form-control" id="postTextArea" rows="3" placeholder="Новый пост"></textarea>
                        </div>
                        <button type="submit" id="addPostButton" class="btn btn-primary add-post-button">Добавить</button>
                    </div>
                </div>
                }
                <div class="posts" id="postsArea">
                    @{await Html.RenderPartialAsync("~/Views/Post/PostsList.cshtml", @Model.WallPosts);}
                </div>
            </div>
        </div>
    </div>
</div>