@model UserInfoViewModel
@inject IViewLocalizer Localizer

<div class="container-fluid info">
    @if (@Model.BirthDay != null || @Model.Country != null || @Model.City != null)
        {
    <div class="info-section full-width">
        @{
                    if (@Model.BirthDay != null)
                    {
            <div class="row info-row">
                        <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                            @Localizer["birthday"]
                        </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.BirthDay.Value.ToString("dd.MM.yyyy")
                </div>
            </div>
                    }

                    if (@Model.Country != null)
                    {
            <div class="row info-row">
                <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                    @Localizer["country"]
                </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.Country
                </div>
            </div>
                    }

                    if (@Model.City != null)
                    {
            <div class="row info-row">
                <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                    @Localizer["city"]
                </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.City
                </div>
            </div>
                    }
        }
    </div>
        }

    @if (@Model.University != null || Model.School != null)
         {
    <div class="info-section full-width">
        @{
                    if (@Model.University != null)
                    {
            <div class="row info-row">
                        <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                            @Localizer["university"]
                        </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.University
                </div>
            </div>
                    }
                    if (@Model.School != null)
                    {
            <div class="row info-row">
                <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                    @Localizer["school"]
                </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.School
                </div>
            </div>
                    }
        }
    </div>
        }

    @if (@Model.PhoneNumber != null || Model.Email != null)
        {
    <div class="info-section full-width">
        @{
                    if (@Model.PhoneNumber != null)
                    {
            <div class="row info-row">
                        <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                            @Localizer["phone_num"]
                        </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.PhoneNumber
                </div>
            </div>
                    }

                    if (@Model.Email != null)
                    {
            <div class="row info-row">
                <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                    @Localizer["email"]
                </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.Email
                </div>
            </div>
                    }
        }
    </div>
        }

    @if (@Model.JobPlace != null || Model.JobPosition != null)
        {
    <div class="info-section full-width">
        @{
                    if (@Model.JobPlace != null)
                    {
            <div class="row info-row">
                        <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                            @Localizer["job_place"]
                        </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.JobPlace
                </div>
            </div>
                    }

                    if (@Model.JobPosition != null)
                    {
            <div class="row info-row">
                <div class="col-lg-4 col-md-5 col-sm-6 info-name">
                    @Localizer["job_position"]
                </div>
                <div class="col-lg-8 col-md-7 col-sm-6 info-value">
                    @Model.JobPosition
                </div>
            </div>
                    }
        }
    </div>
        }
</div>
