@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SimpleSocialNetwork</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css?Version=37" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/comments.js"></script>
    <script src="~/js/likes.js"></script>
    <script src="~/js/posts.js"></script>
    <script src="~/js/messages.js"></script>

</head>
<body>

    <div class='left_sidebar'>
        <ul>
            <li><a asp-controller="User" asp-action="Index">@Localizer["my_page"]</a></li>
            <li><a asp-controller="User" asp-action="Friends">@Localizer["friends"]</a></li>
            <li><a asp-controller="Message" asp-action="Index">@Localizer["messages"]</a></li>
            <li><a asp-controller="News" asp-action="Index">@Localizer["news"]</a></li>
            <li><a asp-controller="Search" asp-action="Index">@Localizer["search"]</a></li>
            <li><a method="post" asp-controller="Account" asp-action="LogOff">@Localizer["exit"]</a></li>
            <li>   <a>@await Html.PartialAsync("_SelectLanguagePartial")</a></li>
        </ul>
    </div>

    <div class="container body-content">
        <div class="main_content">
            @RenderBody()
        </div>
    </div>

</body>
</html>