@model List<Message>
@inject IViewLocalizer Localizer
@{
    User userWith = ((User)ViewBag.otherUser);
}

<div class="message-bar-head">
    <div class="usr-msg-details">
        <div class="usr-msg-img">
             <img src="@Url.Content((userWith.MainPhotoPath))" alt="">

          @*  <img src="~/images/no_photo.png" />*@
        </div>
        <div class="usr-msg-name">
            @Html.ActionLink(userWith.ToString(), "MainPage", "User", new { userId = userWith.Id })
        </div>
    </div>
</div>
<div class="messages-line">
    <div class="free-space"></div>
    @foreach (var message in Model)
    {
        if (@message.UserFromId == userWith.Id)
        {
    <div class="main-message-box left">
        <div class="message-dt left">
            <div class="message-inner-dt">
                <p>@message.Text</p>
            </div>
            <span>@message.Date</span>
        </div>
        <div class="msg-usr-img">
             <img src="@Url.Content(userWith.MainPhotoPath)" alt="">
         @*   <img src="~/images/no_photo.png" />*@
        </div>
    </div>
        }
        else
        {
    <div class="main-message-box right">
        <div class="message-dt">
            <div class="message-inner-dt">
                <p>@message.Text</p>
            </div>
            <span>@message.Date</span>
        </div>
        <div class="msg-usr-img">
                  <img src="@Url.Content(userWith.MainPhotoPath)" alt="">
            @*<img src="~/images/no_photo.png" />*@
        </div>
    </div>
        }
    }


    <script>
        $('.messages-line').scrollTop($('.messages-line')[0].scrollHeight);
    </script>

</div>

<div class="message-send-area">
    <div class="mf-field">
        <textarea class="form-control message-control"
                  id="messageText" rows="3" placeholder="@Localizer["type_message"]"></textarea>
        <button type="submit" id="sendMessageButton"
                userToId="@(userWith.Id)"
                class="btn btn-primary send-message-button">
            @Localizer["send"]
        </button>
    </div>
</div>