@model List<(User, Message)>;
@inject IViewLocalizer Localizer

<div class="dialogs-title">
    <h3>@Localizer["dialogs"]</h3>
</div>
<div class="dialogs-list">
    <ul>
        @foreach (var user in Model)
        {
        <li userId="@user.Item1.Id" class="user-dialog">
            <div class="dialogs-msg-details" userId="@user.Item1.Id">
                <div class="usr-msg-img" userId="@user.Item1.Id">
                    <img src="data:image/jpeg;base64,@(Convert.ToBase64String(user.Item1.Avatar))" userId="@user.Item1.Id" />
   
                </div>
                <div class="usr-msg-info" userId="@user.Item1.Id">
                    @{
                            string text = user.Item1.ToString();

                        @if (user.Item1.ToString().Length > 15)
                            {
                                text = text.Substring(0, 15) + "...";
                            }
                    }
                    <h3 userId="@user.Item1.Id">@text</h3>
                    <h4 userId="@user.Item1.Id">@user.Item2.Date</h4>
                    @{
                        text = user.Item2.UserFrom == user.Item1 ? user.Item1.Name: Localizer["you"].Value;
                        text += ": ";
                        if (user.Item2.Text.Length < 10)
                        {
                            text += user.Item2.Text;
                        }
                        else
                        {
                            text += user.Item2.Text.Substring(0, 10) + "...";
                        }
                    }
                    <h4 userId="@user.Item1.Id">@text</h4>
                </div>
            </div>
        </li>
        }
    </ul>

</div>