@model Comment

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <img class="comment-owner-photo" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Owner.Avatar))" />
        </div>
        <div class="col-md-8">
            <div class="comment-owner">
                @Html.ActionLink(@Model.Owner.ToString(), "MainPage", "User", new { userId = @Model.Owner.Id })
            </div>
            <small class="utc-date">   @Model.Date.ToString("dd.MM.yyyy HH:mm:ss")</small>
           

        </div>
        @if (Model.Owner == (User)ViewBag.LoggedUser)
        {
            <div class="col-md-2">
                <button commentId="@Model.Id" postId="@Model.Post.Id" val="del" class="btn  delete-comment-button">-</button>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="comment-text">
                @Model.Text
            </div>
        </div>
    </div>
</div>